<!--Temp-->
<a class="col m-2" mat-raised-button color="primary" href="admin">עבור לאדמין</a>
<a class="col m-2" mat-raised-button color="primary" href="">עבור לקליינט</a> 
<!--Temp-->

<a class="col m-2" mat-raised-button color="accent">הרשמה</a> 
<a class="col m-2" mat-raised-button color="accent">התחברות</a> 


<button mat-button [matMenuTriggerFor]="aboveMenu">חברות</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item><mat-icon>create</mat-icon>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">משרות</button>
<mat-menu #belowMenu="matMenu" yPosition="above">
  <button mat-menu-item>צור משרה חדשה</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<!-- 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<nav class="nav">
  <a href="#" class="nav-item is-active" active-color="black"><i class='fa fa-home'></i>אדמין</a>
  <a href="#" class="nav-item" active-color="blue"><i class='fa fa-user-circle'></i>User</a>
  <a href="#" class="nav-item" active-color="orange"><i class='fa fa-phone'></i>Contact</a>
  <a href="#" class="nav-item" active-color="red"><i class='fa fa-wifi'></i>Wifi</a>
  <a href="#" class="nav-item" active-color="rebeccapurple"><i class='fas fa-mail-bulk'></i>אדמין</a>
  <span class="nav-indicator"></span>
</nav> -->