<mat-card class="example-card m-3 ">
    <mat-card-header class="col d-flex justify-content-center example-card m-3 m-2">
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-title>
            <h2>{{jobData.id}}</h2>
        </mat-card-title>       
    </mat-card-header>
    <mat-card-content class="d-flex">
        <div class="p-2 flex-grow-1">{{ jobData.text }}</div>
        <div class="p-2 short-data">
            <div class="card-meta card-meta--views">
                <mat-icon>attach_money</mat-icon>{{jobData.salary}},000
            </div>
            <!--<div class="card-meta card-meta--views">
                <mat-icon>send</mat-icon>
            </div>
             <div class="card-meta card-meta--views">
                <mat-icon>calendar_today</mat-icon>{{jobData.dateOfAdded}}
            </div> -->
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="col d-flex justify-content-end">
        <button mat-button >הגש מועמדות</button>
        <button mat-button >שלח לינקדין</button>
        <button mat-button>הוסף למועדפים</button>
        <button mat-button>שתף</button>


    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>

</mat-card>