@import "~bootstrap/dist/css/bootstrap-utilities.css";

/*For nav*/
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
  background-size: cover; 
  /* overflow: hidden; */

  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}



:root {
  --color-blue: rgb(78, 101, 203);
  --color-purple: rgb(113,75,128);
  --color-pink: rgb(203, 66, 116);
  --transition-time: 500ms;
  --transition-ease: cubic-bezier(.1,.7,.8,.3);
} 