<div class="d-flex flex-fill" dir="rtl">
  <div class="p-3">
    <mat-card class="card">
      <mat-card-content>
        <h2 class="d-flex justify-content-center">חיפוש עבודה</h2>
        <form class="m-3 mt-5" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <mat-checkbox class="col d-flex justify-content-start m-2" [(ngModel)]="includeWithoutSalry"
            formControlName="withoutSalry">כולל משרות ללא שכר נקוב</mat-checkbox>
          <mat-checkbox class="col d-flex justify-content-start m-2" [(ngModel)]="haveToar"
            formControlName="haveToar">יש לי תואר
            ראשון</mat-checkbox>
          <mat-checkbox class="col d-flex justify-content-start m-2" [(ngModel)]="haveEnglish"
            formControlName="haveEnglish">יש לי אנגלית ברמה גבוהה
          </mat-checkbox>
          <!-- <app-select-input [formControl]="$any(searchForm.controls['profession'])" [label]="'מקצוע'"
            [options]=professions></app-select-input>
          <app-select-input [formControl]="$any(searchForm.controls['toppings'])" [label]="'תחום'" [options]=toppingList
            [multiple]=true></app-select-input> -->

          <label class="col d-flex justify-content-start example-value-label m-2">שכר (באלפי שקלים): {{value}}</label>
          <div class="col d-flex justify-content-start m-1" appearance="fill">
            <mat-slider formControlName="salry" class="example-margin m-0" [max]="max" [min]="min" [step]="step"
              [(ngModel)]="value">
            </mat-slider>
          </div>
          <div align="end">
            <button class="col m-2" mat-raised-button color="primary">חפש משרות</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div  class="p-3 flex-fill" *ngIf="jobs.length>0">
    <app-jobs [jobs]="jobs"></app-jobs>
  </div>
</div>